

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --primary-color:gray;
    --secondary-color: #854fee;
    --bg-white: #fff;
    --bg-light: #faf8ff;
    --bg-black: #000;
    --bg-gray: #eee;
    --gradient: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);

    /* Text Color */
    --primary-text: #4458dc;
    --secondary-text: #854fee;
    --text-white: #fff;
    --text-black: #000;
    --text-gray: #777;

    /* Font Family */
    --primary-font: 'Rubik', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--secondary-font);
    width: 100%;
    /* background-image: url('../images/background2.png');   */
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);   
    
}

a {
    text-decoration: none;
    z-index: 9;
    position: relative;
}

/* 1 Custom CSS */

::-webkit-scrollbar {
    width: 0.50rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-gray);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

section {
    padding: 4rem 0;
}

.main-btn {
    display: inline-block;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 2.875rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.3125rem;
    box-shadow: 0 0.625rem 1.875rem rgb(118 85 225 / 30%);
    border: double 0.125rem transparent;
    padding: 0 2.0625rem;
    transition: all .3s ease-in-out;
    --webkit-transition: all .3s ease-in-out;
   
}

.primary-btn {
    background-image: var(--gradient);
    color: var(--text-white);
    z-index: 99;
    position: relative;
}

.primary-btn:hover{
    border-color:white;
    background: gray;
    color: black;
    box-shadow: none;
}

.secondary-btn {
    background-image: var(--gradient);
    color: var(--text-white);
    display:block;
    width:fit-content;
    margin:auto;
    top:30px;

    
    
}

.secondary-btn:hover {
    border-color:white;
    background: gray;
    color: black;
    box-shadow: none;

}


h1 {
    font-size: 4.375rem;
    line-height: 3.75rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1.25rem;
    font-family: var(--primary-font);
}

h2 {
    font-weight:500;
    font-size:  3.375rem;
    line-height: 3.4375rem;
    margin-bottom: 1.5625rem;
    color:white;
    font-family: var(--primary-font);
}

h3 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.125rem;
    margin-bottom: 0.9375rem;
    color: var(--text-black);
    font-family: var(--primary-font);
    text-transform: uppercase;
}

h4{
    color:#fff;  
    font-weight: 500;
    font-family: var(--primary-font);
}

h5 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 2.1875rem;
    color: var(--text-black);
}

h6{
    color:white;   
    font-family: var(--primary-font);
}

p {
    color: var(--text-gray);
    font-size: 0.9375rem;
    line-height: 1.625rem;
    font-weight: 400;
}


/* 2 Navbar */

.header_wrapper .navbar {
    padding: 0.9375rem 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 10rem;
    height: auto;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 0.625rem;
    
}

.header_wrapper .nav-item .nav-link {
    font-family: var(--primary-font);
    font-size: 0.9375rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-black);
    display: inline-block;
    position: relative;
    z-index: 99;
    color: #ababab;
   
}


.header_wrapper .nav-item .nav-link:hover {
    color:white
  
}

.header-scrolled {
    
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 0.25rem 0.375rem 0 rgba(12, 0, 46, .05);
    box-shadow: 0 0.25rem 0.375rem 0 rgba(12, 0, 46, .05);
}  


/* 3 Banner */
.banner_wrapper {
    padding-top: 40px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: top center;
    background-size:cover;
  
   
}

.banner_wrapper .col-lg-7 {
    vertical-align: middle;
    align-self: center;
}



/* 4 About */
 .about_wrapper .single-logo-item {
    width: 100%;
    height: 6.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0.0625rem solid var(--bg-gray);
    box-shadow: none;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;

}


.about_wrapper .single-logo-item:hover {
    border: 0.0625rem solid transparent;
    box-shadow: 0 0.5rem 1.875rem rgb(118 85 225 / 15%);
    

} 


.about-col-1{
    flex-basis: 30%;
}

.about-col-1 img{
    border-radius:15px ;
    width: 100%;
 height: 100%;
}

.about-col-2{
    flex-basis: 65%;

}
.about-col-2 p{
    color:white;
}

.about-col-2 p {
    text-align:justify;
    width: 100%;

}

.tab-titles{
    display: flex;
    margin:20px 0 30px;
    width:50%;
}

.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    
} 

.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:var(--secondary-color);
    position:absolute;
    left:0;
    bottom: -8px;
   

}
.tab-links.active-link::after{

    width:20%;
}

.tab-content ul{
    
    padding-left: 0px;
    
}

.tab-content ul li{
    list-style:none;
    color:white;
    margin:10px 0;
    font-size:14px;
      
}

.tab-content ul li span{
    color:var(--secondary-text);
    font-size:17px;
   
}




/* 6 portfolio */

#portfolio{
    padding:20px 0;
    
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    column-gap: 10px;
    margin-top:50px;
}

.work{
    border-radius: 10px;
    position:relative;
    
   
}
.work img{
    width:85%;
    height:100%;
    border-radius:10px;
    display: block;
    transition: transform 0.5s;
}

.layer{

    width:85%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.6),gray) ;
    border-radius:10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h4{
    margin-bottom: 20px;
}

.layer p{
color:white; 
margin-bottom: 0px;
width:100%;

}

.work:hover img{
    transform: scale(1.0);
}

.work:hover .layer{
    height:100%;
}


.layer a{
    text-decoration: none;
    font-size: 40px;
    color:#ababab;
    height:40px;
    width:40px;
    margin-top:20px;
    line-height: 40px;
    background-color: #fff;
    text-align: center;
    border-radius:10%;
    transition: 0.5s;
}


.layer a:hover{
    color:black;
    transform: translateY(-5px);
}


/* particle -js */

#particles-js canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 1;

} 

#container {
      position: relative
}



/* Skills */

.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(265px,1fr));
    grid-gap:15px;
    margin-top: 50px;
    cursor: pointer;
    grid-auto-rows: 1fr;
 
}

.skills-col-1 {
  

    background:gray;
    padding: 40px;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
    line-height: 1.125rem;
    margin-bottom: 0.9375rem; 
    height:500px;
    
   
}

.skills-col-1 h4{
    font-size:1.50rem;
    font-weight: 500;
    color: var(--text-black);
    font-family: var(--primary-font);
    text-transform: uppercase;
    /* margin: 20px 20px;    */
    text-align:center;
    text-shadow: 0 0 3px #737272, 0 0 5px #464444;
    
}


.skills{

    display:inline-block;

}

.skills-col-1 h3{
    font-weight:500;
    font-size: 1.25rem;
    line-height: 3.125rem;
    margin-bottom: 0.9375rem;
    color: var(--text-white);
    font-family: var(--primary-font);
    text-transform: uppercase;
    text-align:center;
    text-shadow: 0 0 3px #4d4d4d, 0 0 5px #1e1e1e;
   
}

.thumbnail {
   
    display:inline-block;

}

.skill-picture{

    width:60px;
    height:40px;
    display:inline-block;
}

.content{
    display: block;
    
}

.skills-col-1:hover{
    transform: translateY(-10px);
    background:var(--gradient);
   
}




/* contact */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top:30px;
}


.contact-left p i{
    color:#d7d7d7; 
    margin-right:15px;
    font-size:25px;
}


.social-icons{
    margin-top:30px;
    margin-bottom:30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display:inline;
    transition: 0.5s;
    position: relative;
    z-index: 10;
}

.social-icons a:hover{
    color:black;
    transform: translateY(-5px);
}

.contact-right form{
    width:100%;
}
.sub-title{
    font-size: 60px;
    font-weight: 500;
    color:#ababab
    
}

form input,form textarea{
    width:100%;
    border:0;
    outline:none;
    background:#d7d7d7;
    padding:15px;
    margin:15px 0;
    font-size: 18px;
    border-radius: 6px;
    z-index: 10;
    position: relative;
    opacity: 0.7;
    transition: 0.5s;


}

form textarea:hover {
    background: white;
    color:#262626;
  
}
form input:hover{
    background:white;  
    color:#262626;
}

::placeholder{
    color:#262626;
}

#msg{
    color:#61b752;
    margin-top:15px;
    display:block;

    }


.copyright{

    width:100%;
    text-align:center;
    padding:30px 0 15px 0;
    background:#262626;
    font-weight:300;
    margin-top:50px;
    position: relative;

}



.go-up-btn {
    position:absolute;
    bottom: 30px;
    right: 30px;
   
  }
  .go-up-btn img {
    width: 40px;
  }

